*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}



@media(max-width:850px){
     button{
      width: 80%;
     }
}

@media(max-width:511px){
  button{
    width: 80%;
  }
}

/* CSS FOR PLAY QUIZ AND STUDY MATERIAL BUTTON */
/* CSS FOR PLAY QUIZ AND STUDY MATERIAL BUTTON */
/* CSS FOR PLAY QUIZ AND STUDY MATERIAL BUTTON */
/* CSS FOR PLAY QUIZ AND STUDY MATERIAL BUTTON */

.Quiztopics{
  margin-top: 40px;
  padding-top: 5px;
  height: 100%;
  background-image: url('imageforindex_3.jpeg');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width:850px) {
  .Quiztopics{
    background-image: url('imageforindex_1.jpeg');
  }
}


.Quiztopics h1{
  color: white;
  text-align: center;
  margin-top: 5px; 
}

.index_page_data{
  margin-top: 40px;
  padding-top: 5px;
  height: 100vh;
  background-image: url('imageforindex_3.jpeg');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width:850px) {
  .index_page_data{
    background-image: url('imageforindex_1.jpeg');
  }
}


.index_page_data h1{
  color: white;
  text-align: center;
  margin-top: 20px; 
}

.indexPageDataBtn_container{
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.index_page_dataBtn{
  width: 225px;
  padding: 30px;
  font-size: 25px;
  font-weight: 800;
  border-radius: 5px;
  background-color: transparent; 
   border: 2px solid rgb(7, 105, 132);
   color: white;
   box-shadow: #f6f7f2;
   cursor: pointer;
}

.index_page_dataBtn:hover {
  border: 2px solid goldenrod;
}

@media (max-width:430px) {
  .index_page_dataBtn{
    width: 80%;
    padding: 20px;
  }
}


/* FOR QUIZ TOPIC BUTTON */
/* FOR QUIZ TOPIC BUTTON */
/* FOR QUIZ TOPIC BUTTON */
/* FOR QUIZ TOPIC BUTTON */
/* FOR QUIZ TOPIC BUTTON */

.quiz_topic_button-container{

  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.quiz_topic_button{
   width:200px ;
   padding: 30px;
   margin: 5px;
   font-size: 25px;
   border-radius: 5px;
   background-color: transparent; 
   border: 2px solid rgb(7, 105, 132);
   color: white;
   cursor: pointer;
}

.quiz_topic_button:hover{
      border: 2px solid goldenrod;
}

@media (max-width:430px) {
  .quiz_topic_button{
    width: 80%;
    padding: 20px;
  }
}

