*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body,html{
  width: 100%;
  height: 100;
  /* text-align: center; */
}

/* CSS FOR STUDY MATERIAL */

.compititiveExamStMtlTopicContainer{
  margin-top: 40px;
  padding-top: 2px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  background-image: url('imageforindex_3.jpeg');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width:850px) {
  .compititiveExamStMtlTopicContainer{
    background-image: url('imageforindex_1.jpeg');
  }
}
.compititiveStdMtlContainer {
  margin-top: 40px;
  padding-top: 2px;
  padding-bottom: 10px;
  height: 100%;
  background-image: url('imageforindex_3.jpeg');
  background-size:cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width:850px) {
  .compititiveStdMtlContainer{
    background-image: url('imageforindex_1.jpeg');
  }
}

.compititiveExamStMtlTopicContainer {
  color: white;
  text-align: center;
  padding-top: 5px;
}

.topic-button-container{

  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.stdMtl_btn{ 
   width:200px ;
   padding: 10px;
   margin: 5px;
   font-size: 25px;
   border-radius: 5px;
   background-color: transparent; 
   border: 2px solid rgb(7, 105, 132);
   color: white;
}


  .stdMtl_btn:hover {
   border: 2px solid goldenrod;
}





@media (max-width:430px) {
  .stdMtl_btn{
    width: 80%;
    padding: 10px;
  }
}





.qa-container{
  margin: 15px;
  margin-bottom: 0px;
}

.qa-container div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.qa-container h3 {
    color: rgb(255, 255, 255);
    font-weight: normal;
    /* margin-top: 1.2em; */
    /* margin-left: 20px; */
    margin-bottom: 0.3em;
    font-size: 1.1rem;
  }

  .qa-container h3,h4,p {
    color: white;
  }
  
  .qa-container h4 {
    color: rgb(14, 246, 14);
    font-weight: normal;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.3rem;
  }


  /* css for doubtBn */

  .doubtBtn{
    background-color: #15655f;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 5px;
    width: 80%;
    margin-top: 10px;
    margin-left:10% ;
    border: 2px solid ;
    border-radius: 5px;
    /* display: none; */
  }

  @media (max-width:400px) {
    .doubtBtn {
      font-size: 15px;
      margin-left: 10%;
    }
   
  }

  #complainBtn{
    background-color: #307a65;
    margin-left: 10%;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 80%;
    border: 2px solid;
    border-radius: 5px;
  }

  @media (max-width:400px) {
    #complainBtn {
      font-size: 15px;
    }
  }


  